<!doctype html>

<head>
</head>
<html>

<form method="POST" action="/add">
    <div class="form-group">
        <label>form</label>
        <p>name:</p>
        <textarea name="payer"></textarea>
        <p>points: (number)</p>
        <textarea name="points"></textarea>
        <p>timestamp:</p>
        <textarea name="timestamp"></textarea>

    </div>
    <button type="submit" class="btn btn-primary">submit</button>
</form>

<form method="POST" action="/spend">
    <div class="form-group">
        <label>form</label>
        <p>points: (number)</p>
        <textarea name="points"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
</form>


</html>