<% payers.forEach(function(payer) { %>
    <div class="card" style="width: 18rem; margin-top: 10px;">
        <div class="card-body">
            <h5 class="card-title">
                "<%= payer.payer %>": <%= payer.points %>
            </h5>
        </div>
    </div>
    <% }) %>